// bootstrap
// @import 'lib.min.css';

// reset style
@import 'reset';

// main style
.wrapper{
    box-sizing: border-box;
    font-size: 16px;
}
.head{
    height: 100vh;
    background: url('../img/example2.png') no-repeat;
    background-size: cover;
}