doctype
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name="description" content="")
        meta(name="keywords" content="")
        meta(name="author" content="Abramyants Vladimir")
        meta(name="robots" content="index nofollow")
        meta(name='viewport', content='width=device-width, initial-scale=1')

        link(rel="stylesheet", href="lib/css/bootstrap.min.css")
        link(rel="stylesheet", href="style/style.css")

        title Potencialex

    body
        
        
        include ../layouts/block_1.pug

        script(src="lib/jquery-3.4.1.min.js")
        script(src="lib/js/bootstrap.min.js")
        script(src="js/jquery.countdown.js")
        script(src="js/main.js")