div(class="container")
    div(class="row")
        div(class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 order-2")
            div(class="row header__text")
                div(class="col-12")
                    h2(class="header__h2") Ti piacerebbe tra 20 anni?
                div(class="col-12")
                    p(class="header__p") Allora per te POTENCIALEX è un rimedio avanzato per la potenza. Completamente naturale e non coinvolgente. POTENCIALEX è raccomandato dai principali sessuologi e urologi del paese!

                div(class="col-12 text-center")
                    a(href="#buy" class="header__a btn") Comprare
            
        div(class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 order-1 header__video")
            div(class="embed-responsive embed-responsive-16by9")
                iframe(class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/oViOc4kLi6s?rel=0&autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
