div(class="container")
    div(class="row")
        div(class="col-12 col-sm-12 col-md-6 col-lg-6 order-2")
            div(class="row")
                div(class="col-12")
                    h2(class="header__h2") Хочуешь, чтоб как в 20 лет?
                div(class="col-12")
                    p(class="header__p") Тогда для тебя POTENCIALEX - передовое средство для потенции. Полностью на натуральной основе и не вызывают привыкания. POTENCIALEX рекомендуют ведущие сексопотологи и урологи страны!

                div(class="col-12")
                    a(href="" class="head__a btn") купить
            
        div(class="col-12 col-sm-12 col-md-6 col-lg-6 order-1")
            div(class="embed-responsive embed-responsive-16by9")
                iframe(class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/oViOc4kLi6s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

                //- TODO: added afte link: ?rel=0&autoplay=1