div(class="container" id="property-product")
    div(class="row")
        div(class="col-12 col-sm-12 cols-md-4 col-lg-4")
            div(class="card")
                div(class="card-body")
                    h5(class="card-title content__h5") PRIMA-SECONDA SETTIMANA:
                    p(class="cart-text content__p") L’erezione diventa più lunga e più stabile, la sensibilità del pene aumenta del doppio. I primi cambiamenti sono visibili - la lunghezza del pene aumenta di 1,5 CM.
        div(class="col-12 col-sm-12 cols-md-4 col-lg-4")
            div(class="card")
                div(class="card-body")
                    h5(class="card-title content__h5") SECONDA-TERZA SETTIMANA:
                    p(class="cart-text content__p") Il tuo pene è chiaramente più GRANDE, la forma diventa anatomicamente accurata. La durata del rapporto sessuale si allunga del 70%!
        div(class="col-12 col-sm-12 cols-md-4 col-lg-4")
            div(class="card")
                div(class="card-body")
                    h5(class="card-title content__h5") QUARTA SETTIMANA ED OLTRE:
                    p(class="cart-text content__p") Il pene è di 4 cm più lungo! La qualità del sesso è aumentata esponenzialmente. Gli orgasmi arrivano più rapidamente e durano fino a 5-7 minuti!