div(class="container mt-5 form-buy")
    div(class="row pt-3")
        div(class="col-12 text-center")
            h1(class="footer__h1") POTENCIALEX

    div(class="row mt-5")
        div(class="col-12 col-sm-8 col-md-8 col-lg-8 text-center")
            img(src="img/product.png", alt="alt" class="img-fluid")
            h3(class="h2 old-cost") &euro; 98
            h2(class="h1 new-cost") &euro; 39
            p(class="footer__p p-warning") ne rimangono solo 39 confezioni nella tua citta
        div(class="col-12 col-sm-4 col-md-4 col-lg-4")
            div(class="card")
                div(class="card-body")
                    form
                        div(class="form-group")
                            label(for="name-field") NOME:
                            input(type="text", name="name-field" class="form-control mb-3" id="name-field" placeholder="NOME COMPLETO" rel="tooltip" title="Antonio Mangaretti")

                            label(for="phone-field") NUMERO:
                            input(type="text", name="phone-field" class="form-control mb-3" id="phone-field" placeholder="NUMERO COMPLETO"  rel="tooltip" title="39 XXX XXX XX XX")

                            button(type='submit' class="btn btn-danger footer__btn") ORDINA*
                div(class="card-text")
                    div(class="container")
                        ul(class="list-group")
                            li(class="footer__li") * Ovviamente, la confezione è сhiusa in un pacco senza marchi e dati visibili. Tutto riname confidenzuale!
                            li(class="footer__li") ** L'uso eccessivo di POTENCIALEX &reg; potrebbe provocare crescita incontrollata del pene. Fai attenzione e segui le istruzioni!

    div(clas="row pt-5")
        div(class="col-12")
            p(class="footer__p p-timer text-center") l'offerta è limitata!
        

        div(class="col-12")
            script(src="//megatimer.ru/get/c92644555abda44558ba905193fb9f1c.js")
